{% include 'partials/head.html' %}
{% block content %}<title>Categorias</title>{% endblock %}

<body>
    {% include 'partials/nav.html' %}

    <div class="container category-list">
        <h2 class="section-title">Categorias</h2>
        {% if categories %}
            {% for category in categories %}
                {% if category.incomplete_count > 0 %}
                    <a href="{% url 'tasks:tasks_by_category' author_id category.id %}">
                    <div class="category-item">
                        <div>
                            <strong>{{ category.name }}</strong>
                            <div>{{ category.incomplete_count }} tarefa(s) pendente(s)</div>
                        </div>
                        <div class="count">Ver →</div>
                    </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Nenhuma categoria encontrada.</p>
        {% endif %}
    </div>

</body>