{% extends 'partials/base.html' %}
{% block extra_head %}
    <title>Nova Tarefa</title>
{% endblock extra_head %}

{% block content %}
  <br><br><br>
  <div class="card">
    <h2>Criar Tarefa</h2>
    {% include 'partials/messages.html' %}
    <form method="post" enctype="multipart/form-data" action="{% url 'tasks:create_task' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="actions">
        <button type="submit">Salvar</button>
        <a href="{% url 'tasks:dashboard' %}">Voltar</a>
      </div>
    </form>

  </div>
{% endblock content %}