{% extends 'partials/base.html' %}
{% block extra_head %}
    <title>Atualizar Categoria</title>
{% endblock extra_head %}

{% block content %}
  <br><br><br>
  <div class="card form-card">
    <h2>Atualizar Categoria</h2>
    {% include 'partials/messages.html' %}
    
    <form method="post" enctype="multipart/form-data" action="{% url 'tasks:update_category' category.slug %}">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="actions">
        <button type="submit">Salvar</button>
        <a href="{% url 'tasks:dashboard' %}">Voltar</a>
      </div>
    </form>

  </div>
{% endblock content %}
