.form-card--wide {
    max-width: 760px;
    margin-inline: auto;
}

/* Make Django form inputs look like bootstrap */
form .form-control, form select, form input[type="text"], form input[type="email"], form input[type="password"], form input[type="number"], form textarea {
    display: block;
    width: 100%;
    padding: .75rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
form .form-control:focus, form select:focus, form input[type="text"]:focus, form textarea:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}
form input[type="file"] {
    padding: .375rem .75rem;
}
form input[type="checkbox"] {
    margin-right: 0.5rem;
    transform: scale(1.2);
}
.tracking-wide { letter-spacing: 0.05em; }