.detail-image {
    order: 2;
}

.object-fit-cover { object-fit: cover; }
.tracking-wide { letter-spacing: 0.05em; }
.form-switch .form-check-input { margin-left: -2.5em; }

@media (max-width: 760px) {
    .detail-image {
        order: 0;
    }
}
