{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
    <link rel="stylesheet" href="{% static 'global/css/tasks.css' %}">
</head>
<body>
    {% include 'partials/nav.html' %}

    <div class="container task-list">
        <h2 class="section-title">{% if category %}Tarefas em "{{ category.name }}"{% else %}Todas as Tarefas{% endif %}</h2>

        {% if tasks %}
            {% for task in tasks %}
                <a href="{% url 'app:task_detail' task.id %}">
                    <div class="task-card">
                        <div class="task-image-wrap">
                            {% if task.image %}
                                <img src="{{ task.image.url }}" alt="{{ task.title }}" class="task-image">
                            {% else %}
                                <div class="task-noimage">{{ task.title|slice:":1" }}</div>
                            {% endif %}
                        </div>
                        <div class="task-content">
                            <h3>{{ task.title }}</h3>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p>Nenhuma tarefa encontrada.</p>
        {% endif %}
    </div>
</body>
</html>
